/* TaskFlow Window */
QWidget#TaskFlowClass{
    background-color: #C9C1B0;
}


/************** LABEL SETTINGS ****************************/
/* App Title */
QLabel#appTitleLabel {
    background-color: #E6CD91;
    color:rgb(59, 179, 129)
}

/* List Options Button */
QLabel#categoryTitleLabel{
    color: rgb(221, 210, 210);
}

/* categoryLineEdit custom widget styling */
#categoryLineEdit{
    background-color: transparent;
    border: 0px;
    color: black
}

/* categoryListItem custom widget styling */
#categoryListItem{
    background-color: transparent;
    border: 0px;
    color: black
}



/************** BUTTON SETTINGS ****************************/

QPushButton#settingsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#settingsBtn:hover{
    background-color: #eee8df;
}

QPushButton#listOptionsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#listOptionsBtn:hover{
    background-color: #eee8df;
}

QPushButton#addCategoryListBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#addCategoryListBtn:hover{
    background-color: #eee8df;
}


/************** LIST SETTINGS ****************************/
QListWidget#categoryList{
    background-color: #E6E0C5;
    border: 1px solid #888888;
    border-radius: 5px;
}

QListWidget#todoList{
    background-color: #5A5751;
    border: 1px solid #888888;
    border-radius: 5px;
}

/* Style for selected CategoryListItem */
QListWidget::item:selected #categoryListItem {
    background-color: #95a5a6;  /* Change background color when selected */
    border: 1px solid #7f8c8d;  /* Change border color when selected */
}

/* Additional styling for QLabel inside CategoryListItem */
#categoryListItem QLabel {
    margin: 5px;
    font-weight: bold;
}

/* Style for QLabel inside selected CategoryListItem */
QListWidget::item:selected #categoryListItem QLabel {
    color: #2c3e50;  /* Change text color when selected */
}

/************** LINEEDIT SETTINGS ****************************/
QLineEdit#todoItemInput{
    background-color: #42403c;
    border: 1px solid #888888;
    border-radius: 5px;
    text-align: left;
    color: white;
}

