/* TaskFlow Window */
QWidget#TaskFlowClass{
    background-color: #C9C1B0;
}


/************** LABEL SETTINGS ****************************/
/* App Title */
QLabel#appTitleLabel {
    background-color: #E6CD91;
    color:black
}

/* List Options Button */
QLabel#categoryTitleLabel{
    color: black;
}


/************** BUTTON SETTINGS ****************************/

QPushButton#settingsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#settingsBtn:hover{
    background-color: #eee8df;
}

QPushButton#listOptionsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#listOptionsBtn:hover{
    background-color: #eee8df;
}

