/* TaskFlow Window */
QWidget#TaskFlowClass{
    background-color: #C9C1B0;
}


/************** LABEL SETTINGS ****************************/
/* App Title */
QLabel#appTitleLabel {
    background-color: #E6CD91;
    color:black
}

/* List Options Button */
QLabel#categoryTitleLabel{
    color: black;
}


/************** BUTTON SETTINGS ****************************/

QPushButton#settingsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#settingsBtn:hover{
    background-color: #eee8df;
}

QPushButton#listOptionsBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#listOptionsBtn:hover{
    background-color: #eee8df;
}

QPushButton#addCategoryListBtn{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 5px;
}
QPushButton#addCategoryListBtn:hover{
    background-color: #eee8df;
}


/************** LIST SETTINGS ****************************/
QListWidget#categoryList{
    background-color: #E6E0C5;
    border: 1px solid #888888;
    border-radius: 5px;
}

QListWidget#todoList{
    background-color: #5A5751;
    border: 1px solid #888888;
    border-radius: 5px;
}

/************** LINEEDIT SETTINGS ****************************/
QLineEdit#todoItemInput{
    background-color: #42403c;
    border: 1px solid #888888;
    border-radius: 5px;
    text-align: left;
    color: white;
}
